:root {
    --theme-blue: #326ce5;
    --theme-red: #ff0000;
    --theme-white: #ffffff;
    --theme-dark-blue: #1a36b4;
    --theme-gray: #f6f5ec;
    --theme-light-blue: #58a6ff;

    --theme-background: var(--theme-dark-blue);
    --theme-background-lite: var(--theme-gray);
    --theme-main: var(--theme-dark-blue);
    --theme-main-lite: var(--theme-blue);

    --md-primary-fg-color:        var(--theme-background);
    --md-primary-fg-color--light: var(--theme-background-lite);
    --md-primary-fg-color--dark:  var(--theme-dark-blue);
    --md-accent-fg-color:         var(--theme-red);
    --md-default-bg-color:        var(--theme-white);
}

.md-content {
    --md-typeset-a-color: var(--theme-main);
}

/* headers */
.md-typeset h1 {
    color: var(--theme-main);
}

h2, h3, h4 {
    color: var(--theme-main);
}

/* links */
.md-nav__link--active > span {
    color: var(--theme-main);
    font-weight: bold;
}

/* Dark Mode */
[data-md-color-scheme="slate"] {
    --md-hue: 210;
    --theme-main: var(--theme-light-blue);
    --theme-main-lite: var(--theme-blue);
    --md-primary-fg-color: var(--theme-dark-blue);
    --md-primary-fg-color--light: var(--theme-blue);
    --md-primary-fg-color--dark: var(--theme-dark-blue);
    --md-accent-fg-color: var(--theme-red);
    --md-typeset-a-color: var(--theme-main-lite);
}

